[*.cs]

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = false

# IDE0011: Add braces
csharp_prefer_braces = false
