<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JavaToCSharpGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JavaToCSharpGui.Properties.Settings>
            <setting name="UseNamespacePreference" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseUsingsPreference" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDebugAssertPreference" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseUnrecognizedCodeToComment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertSystemOutToConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Usings" serializeAs="String">
                <value>System;System.Collections.Generic;System.Collections.ObjectModel;System.Linq;System.Text</value>
            </setting>
        </JavaToCSharpGui.Properties.Settings>
    </userSettings>
</configuration>